In [1]:
import pandas as pd

df = pd.read_csv('../data/iwildcam_2022_cameratrapai_pt_train.csv')

In [2]:
gt_columns = [col.replace("gt_", "") for col in df.columns if col.startswith('gt_')]
logit_columns = [col.replace("logit_", "") for col in df.columns if col.startswith('logit_')]
print(set(gt_columns) - set(logit_columns))
print(set(logit_columns) - set(gt_columns))

{'tinamus_major', 'tragulus_sp', 'equus_grevyi', 'ave_desconocida', 'kobus_ellipsiprymnus', 'unknown_bat', 'ichneumia_albicauda', 'proteles_cristata', 'praomys_tullbergi', 'otocyon_megalotis', 'geotrygon_montana', 'panthera_tigris', 'acryllium_vulturinum', 'collocalia_linchi', 'odocoileus_virginianus', 'mazama__temama', 'ortalis_vetula', 'niltava_sumatrana', 'phaetornis_sp', 'eira_barbara', 'callosciurus_notatus', 'herpestes_sanguineus', 'momotus_momota', 'hybomys_univittatus', 'lycaon_pictus', 'streptopelia_lugens', 'myrmecophaga_tridactyla', 'turtur_calcospilos', 'mesopicos_griseocephalus', 'cercopithecus_lhoesti', 'cephalophus_silvicultor', 'prionailurus_bengalensis', 'tapirus_terrestris', 'syncerus_caffer', 'paguma_larvata', 'melocichla_mentalis', 'musophaga_rossae', 'spilornis_cheela', 'proechimys_sp', 'aramides_cajanea', 'nandinia_binotata', 'lissotis_melanogaster', 'tragelaphus_scriptus', 'panthera_leo', 'potamochoerus_larvatus', 'penelope_purpurascens', 'colomys_goslingi', 'crocuta_crocuta', 'aramus_guarauna', 'procyon_cancrivorus', 'andropadus_virens', 'equus_ferus', 'arctonyx_hoevenii', 'neofelis_diardi', 'deomys_ferrugineus', 'genetta_servalina', 'nasua_narica', 'tamandua_mexicana', 'cuniculus_paca', 'cephalophus_nigrifrons', 'canis_mesomelas', 'papio_anubis', 'lophotis_gindiana', 'lariscus_insignis', 'capra_aegagrus', 'varanus_salvator', 'nanger_granti', 'argusianus_argus', 'rollulus_rouloul', 'leptotila_plumbeiceps', 'arborophila_rubrirostris', 'canis_familiaris', 'mustela_lutreolina', 'rusa_unicolor', 'canis_latrans', 'sylvilagus_brasiliensis', 'tigrisoma_mexicanum', 'tragelaphus_oryx', 'myoprocta_pratti', 'turtur_tympanistria', 'leiothrix_argentauris', 'procyon_lotor', 'peromyscus_sp', 'tragelaphus_strepsiceros', 'chlorocebus_pygerythrus', 'tapirus_bairdii', 'motacilla_flava', 'mazama_temama', 'lophura_sp', 'leptailurus_serval', 'acinonyx_jubatus', 'puma_yagoroundi', 'myiophoneus_melanurus', 'dasypus_novemcinctus', 'empty', 'atherurus_africanus', 'bos_taurus', 'burhinus_capensis', 'prionodon_linsang', 'oryx_beisa', 'panthera_onca', 'aguila_sp', 'cercopithecus_mitis', 'martes_flavigula', 'hylomyscus_stella', 'genetta_tigrina', 'muntiacus_muntjak', 'thamnomys_venustus', 'equus_africanus', 'canis_lupus', 'lophura_erythrophthalma', 'claravis_pretiosa', 'mus_minutoides', 'camelus_dromedarius', 'conepatus_semistriatus', 'paleosuchus_sp', 'dasyprocta_punctata', 'helogale_parvula', 'caracal_caracal', 'capricornis_sumatraensis', 'puma_concolor', 'ardeotis_kori', 'paraxerus_boehmi', 'ictonyx_striatus', 'francolinus_africanus', 'alopochen_aegyptiaca', 'sciurus_sp', 'manis_javanica', 'mazama_americana', 'brotogeris_sp', 'puma_yagouaroundi', 'ovis_aries', 'xerus_rutilus', 'nothocrax_urumutum', 'eurocephalus_rueppelli', 'macaca_sp', 'unknown_bird', 'helarctos_malayanus', 'panthera_pardus', 'urocyon_cinereoargenteus', 'alcelaphus_buselaphus', 'hyaena_hyaena', 'hemigalus_derbyanus', 'aepyceros_melampus', 'agouti_paca', 'loxodonta_africana', 'myiophoneus_glaucinus', 'didelphis_sp', 'leopardus_wiedii', 'herpestes_semitorquatus', 'oenomys_hypoxanthus', 'eupodotis_senegalensis', 'phacochoerus_africanus', 'cerdocyon_thous', 'raphicerus_campestris', 'procavia_capensis', 'struthio_camelus', 'presbytis_thomasi', 'eudorcas_thomsonii', 'philander_opossum', 'hystrix_brachyura', 'pardofelis_marmorata', 'psophia_crepitans', 'turdus_olivaceus', 'polyplectron_chalcurum', 'myiophoneus_caeruleus', 'dendrocitta_occipitalis', 'chalcophaps_indica', 'dasyprocta_fuliginosa', 'cricetomys_gambianus', 'dioptrornis_fischeri', 'streptopilia_senegalensis', 'lophura_inornata', 'hippopotamus_amphibius', 'cuon_alpinus', 'orycteropus_afer', 'felis_silvestris', 'motorcycle', 'didelphis_marsupialis', 'pardofelis_temminckii', 'erithacus_cyane', 'hystrix_cristata', 'francolinus_nobilis', 'genetta_genetta', 'malacomys_longipes', 'mazama_gouazoubira', 'nasua_nasua', 'crax_rubra', 'mazama_sp', 'geotrygon_sp', 'pecari_tajacu', 'lepus_saxatilis', 'andropadus_latirostris', 'funisciurus_carruthersi', 'canis_adustus', 'protoxerus_stangeri', 'pan_troglodytes'}
set()

In [3]:
df["true_label"] = ""
for col in df.columns:
    if col.startswith("gt_"):
        df.loc[df[col], "true_label"] = col.replace("gt_", "")

In [4]:
print("Len before", len(df))
df = df[df["true_label"].isin(logit_columns)]
print("Len after", len(df))

Len before 201399
Len after 36012

In [5]:
max_logits = df[[col for col in df.columns if col.startswith("logit_")]].max(axis=1)

for col in df.columns:
    if col.startswith("logit_"):
        mask = df[col] == max_logits
        df.loc[mask, "pred_label"] = col.replace("logit_", "") + "(" + df.loc[mask, col].astype(str) + ")"

In [6]:
df = df.drop(columns=[col for col in df.columns if col.startswith("gt_")])
df = df.drop(columns=[col for col in df.columns if col.startswith("logit_")])

In [7]:
df

,Unnamed: 0,split,seq_num_frames,location,datetime,id,seq_id,width,height,file_name,sub_location,seq_frame_num,latitude,longitude,true_label,pred_label
22,22,train,5,176,2013-05-11 16:34:13.000,8ab0ba0e-21bc-11ea-a13a-137349068a90,5c8f4d8a-7ed0-11eb-b7d6-0242ac1c0002,1920,1080,8ab0ba0e-21bc-11ea-a13a-137349068a90.jpg,0.0,0,17.535519,-89.161945,meleagris_ocellata,meleagris_ocellata(16.60184669494629)
23,23,train,5,176,2013-05-11 16:34:14.000,9159fece-21bc-11ea-a13a-137349068a90,5c8f4d8a-7ed0-11eb-b7d6-0242ac1c0002,1920,1080,9159fece-21bc-11ea-a13a-137349068a90.jpg,0.0,1,17.535519,-89.161945,meleagris_ocellata,meleagris_ocellata(16.20615005493164)
24,24,train,5,176,2013-05-11 16:34:15.000,9807316a-21bc-11ea-a13a-137349068a90,5c8f4d8a-7ed0-11eb-b7d6-0242ac1c0002,1920,1080,9807316a-21bc-11ea-a13a-137349068a90.jpg,0.0,2,17.535519,-89.161945,meleagris_ocellata,meleagris_ocellata(17.696136474609375)
25,25,train,5,176,2013-05-11 16:34:16.000,98ebf30e-21bc-11ea-a13a-137349068a90,5c8f4d8a-7ed0-11eb-b7d6-0242ac1c0002,1920,1080,98ebf30e-21bc-11ea-a13a-137349068a90.jpg,0.0,3,17.535519,-89.161945,meleagris_ocellata,meleagris_ocellata(15.276698112487791)
26,26,train,5,176,2013-05-11 16:34:18.000,989a0b20-21bc-11ea-a13a-137349068a90,5c8f4d8a-7ed0-11eb-b7d6-0242ac1c0002,1920,1080,989a0b20-21bc-11ea-a13a-137349068a90.jpg,0.0,4,17.535519,-89.161945,meleagris_ocellata,meleagris_ocellata(17.59705352783203)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201203,201203,train,10,3,2013-04-22 15:38:54.000,8c9d22da-21bc-11ea-a13a-137349068a90,30042806-7d42-11eb-8fb5-0242ac1c0002,1920,1080,8c9d22da-21bc-11ea-a13a-137349068a90.jpg,NaN,9,17.354530,-89.330771,meleagris_ocellata,meleagris_ocellata(3.6544384956359854)
201329,201329,train,3,91,2015-02-22 06:03:45.000,9778d7da-21bc-11ea-a13a-137349068a90,9778d988-21bc-11ea-a13a-137349068a90,2048,1536,9778d7da-21bc-11ea-a13a-137349068a90.jpg,NaN,0,0.433899,36.861377,equus_quagga,equus_quagga(12.348904609680176)
201330,201330,train,3,91,2015-02-22 06:03:46.000,8ba30692-21bc-11ea-a13a-137349068a90,9778d988-21bc-11ea-a13a-137349068a90,2048,1536,8ba30692-21bc-11ea-a13a-137349068a90.jpg,NaN,1,0.433899,36.861377,equus_quagga,equus_quagga(12.273507118225098)
201331,201331,train,3,91,2015-02-22 06:03:47.000,8acd1e38-21bc-11ea-a13a-137349068a90,9778d988-21bc-11ea-a13a-137349068a90,2048,1536,8acd1e38-21bc-11ea-a13a-137349068a90.jpg,NaN,2,0.433899,36.861377,equus_quagga,equus_quagga(12.046656608581545)
201348,201348,train,1,177,2013-05-26 06:15:48.000,930ae8be-21bc-11ea-a13a-137349068a90,3010520c-7d42-11eb-8fb5-0242ac1c0002,1920,1080,930ae8be-21bc-11ea-a13a-137349068a90.jpg,0.0,0,17.316871,-89.291839,meleagris_ocellata,meleagris_ocellata(19.97058868408203)